:root{
  --white: #fff;
    --black: #000;
}

html,
body{
scroll-behaviour: smooth;
  background-color: black;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;
  color: var(--white);
  overflow-x: hidden;
  display: flex;
  width: 100vw;
  }
.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  aling-items: centre;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 15%;
  height: 100vh;
  background-color: var(--white);
  color: var(--white);
  border-right: 1px solid var(--grey);
}
.logo{
  width: 90px;
}
