:root{
  --white: #fff;
    --black: #000;
}

html,
body{
scroll-behaviour: smooth;
  background-color: black;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;
  color: var(--white);
  overflow-x: hidden;
  display: flex;
}
